body{
    margin: 0;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img{
    width: 12%;
    height: 12%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C0A0B7;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    border-bottom: 2px solid transparent; /* Ajout d'une bordure inférieure transparente */
    transition: border-color 0.3s, border-radius 0.3s; /* Ajout d'une transition pour une animation fluide */
}

nav ul li a:hover {
    color: #FFF;
    border-color: #FFF; /* Changement de couleur de la bordure inférieure au survol */
    border-radius: 5px; /* Ajout d'une bordure arrondie au survol */
}
#dark-mode-toggle {
    width: 4%;
    height: 4%;
        margin-right: 30px;
            margin-left: 10px;
            margin-top: 10px;
}

main {
    margin-top: 12%;
    text-align: center;
    margin: 100px
}

main img {
    max-width: 30%;
    max-height: 30%;
}

main p {
    text-align: center;
    margin-top: 2%;
    color: #333;
}

h1 {
    color: #603417;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th a {
    text-decoration: none;
    color: #333;
}

th, td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

th h2, td h2 {
    margin: 0;
}


table th, table td {
    border: none;
}


td ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #C0A0B7; }


footer {
    background-color: #FFD4F3;
    color: #fff;
    padding: 1%;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: auto;
}

footer p {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 0;
        margin-bottom: 0;
    color: #333;
}

footer a {
    text-decoration: none;
}

footer img {
    margin: 1%;
    width: 2%;
    height: auto;
}


#back-to-top img{
    width: 7%;
    height: auto;
}

#back-to-top {
    color: #00FF00;
    text-decoration: none;
    position: absolute;
    right: 0.1%;
    bottom: 70%;
    margin-bottom: 1%;
}

#back-to-top:hover {
    color: #0056b3;
}


.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #603417; 
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="url"] {
    padding: 10px;
    width: calc(100% - 100px);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #C0A0B7; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #603417; 
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-right: 10px;
    color: #333;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: relative;
}

.photo figure {
    margin: 0 20px;
    position: relative;
}
.photo img {
    max-width: 100%;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.photo  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.photo figure:hover figcaption {
    opacity: 1; 
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table td ul {
    text-align: left;
}

.custom-table td ul li {
    text-align: left;
}
.cookie-banner {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 23px;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.cookie-banner p {
    margin: 0;
    font-size: 16px;
}

.cookie-banner button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

.cookie-banner button:hover {
    background-color: #cccccc;
}
.td5css ul,li{
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
        }

.td5css table {
    width: 100%;
    border-collapse: collapse;
    border: #000 2px;
}

.td5css th, td {
    border: 1px solid #000;
    padding: 8px;
}

.td5css caption {
    font-weight: bold;
    margin-bottom: 10px;
    color: #603417;
}

.td5css thead th {
    background-color: #ccc;
}

.td5css tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.td5css tbody tr:hover {
    background-color: #ddd;
}

.td6css table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.td6css th, .td6css td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.td6css th {
    background-color: #C0A0B0;
    color: #fff;
}
.td6css td{
    background-color: #D9BCC0;
}


.photo-caption {
            font-style: italic;
            color: #666;
            margin-top: 10px;
        }


        .photo-container img {

            border: 5px solid #fff; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        }